# MRET HEIN Project#1


# WideWorldImporters — SQL Mystery:

This notebook walks you through a 5‑step *chained mystery* in the **WideWorldImporters (OLTP)** database using **Microsoft SQL Server**.

# Running T-SQL Queries in VS Code Jupyter Notebook

This notebook demonstrates how to connect to a **SQL Server 2019 Docker container** and run SQL queries directly inside **Visual Studio Code** using Jupyter Notebook.

---

## 1. Environment Setup

Make sure you have:

- ✅ **Python 3.8+**
- 🐳 **Docker Desktop** (with SQL Server container running)
- 💻 **VS Code Extensions**: *Python* and *Jupyter*
- 🔑 **ODBC Driver 17 or 18 for SQL Server** (from Microsoft)
- 📦 **Python Packages**:  
  `ipython-sql`, `sqlalchemy`, `pyodbc`, `pandas`, `prettytable`

---

## 📦 2. Install Required Python Packages


```python
%pip install -U sql sqlalchemy pyodbc pandas prettytable

## 🧩 3. Load SQL Magic

%load_ext sql

## 🔐 4. Define Connection Parameters

from urllib.parse import quote_plus

USER = "SA"
PASSWORD_PLAINTEXT = "YourStrong!Passw0rd"   # replace with your actual password

PASSWORD_ENC = quote_plus(PASSWORD_PLAINTEXT)

CONN_URL = (
    f"mssql+pyodbc://{USER}:{PASSWORD_ENC}@localhost,13001/master"
    f"?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"
)

%sql $CONN_URL

## 🩹 5. Fix PrettyTable Style Compatibility (if needed)

If you see the error
KeyError: 'DEFAULT',
run this code once per notebook:



import prettytable as pt

if not hasattr(pt, "DEFAULT") and hasattr(pt, "STYLE_DEFAULT"):
    pt.DEFAULT = pt.STYLE_DEFAULT

if not hasattr(pt, "PLAIN_COLUMNS") and hasattr(pt, "STYLE_PLAIN_COLUMNS"):
    pt.PLAIN_COLUMNS = pt.STYLE_PLAIN_COLUMNS

if not hasattr(pt, "MSWORD_FRIENDLY") and hasattr(pt, "STYLE_MSWORD_FRIENDLY"):
    pt.MSWORD_FRIENDLY = pt.STYLE_MSWORD_FRIENDLY

if not hasattr(pt, "MARKDOWN") and hasattr(pt, "STYLE_MARKDOWN"):
    pt.MARKDOWN = pt.STYLE_MARKDOWN
    

%config SqlMagic.style = 'DEFAULT'

## 🧠 6. Test the Connection

%sql SELECT @@SERVERNAME AS ServerName, @@VERSION AS VersionInfo;

## 7. Run SQL Queries

You can write and execute SQL directly with the %%sql cell magic:

%%sql

{Your Queries}

## **************Installing packages and establishing connection:**************

In [1]:
%pip install -U sql sqlalchemy pyodbc pandas prettytable

Requirement already satisfied: sql in c:\users\mreth\anaconda3\lib\site-packages (2022.4.0)
Requirement already satisfied: sqlalchemy in c:\users\mreth\appdata\roaming\python\python313\site-packages (2.0.44)
Requirement already satisfied: pyodbc in c:\users\mreth\anaconda3\lib\site-packages (5.3.0)
Requirement already satisfied: pandas in c:\users\mreth\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: prettytable in c:\users\mreth\appdata\roaming\python\python313\site-packages (3.16.0)
Requirement already satisfied: greenlet>=1 in c:\users\mreth\appdata\roaming\python\python313\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mreth\appdata\roaming\python\python313\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mreth\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mreth\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mreth\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mreth\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: wcwidth in c:\users\mreth\appdata\roaming\python\python313\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: six>=1.5 in c:\users\mreth\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql

import pyodbc
print("ODBC drivers found:", pyodbc.drivers())

ODBC drivers found: ['SQL Server', 'ODBC Driver 17 for SQL Server', 'ODBC Driver 18 for SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

--Set a global output limit for SQL query results to 20

In [3]:

%config SqlMagic.autolimit = 20

In [4]:
from urllib.parse import quote_plus

USER = "SA"
PASSWORD_PLAINTEXT = "Mh@23561265"  # <-- your real password
PASSWORD_ENC = quote_plus(PASSWORD_PLAINTEXT)  # encodes @ -> %40, etc.

# Use Driver 18 if installed; otherwise change the '18' to '17'
CONN_URL = (
    f"mssql+pyodbc://{USER}:{PASSWORD_ENC}@localhost,13001/master"
    f"?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"
)

print("Connecting with URL:", CONN_URL)  # safe because password is encoded
%sql $CONN_URL

Connecting with URL: mssql+pyodbc://SA:Mh%4023561265@localhost,13001/master?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes

In [5]:
# PrettyTable compatibility shim for ipython-sql
import prettytable as pt

if not hasattr(pt, "DEFAULT") and hasattr(pt, "STYLE_DEFAULT"):
    pt.DEFAULT = pt.STYLE_DEFAULT
if not hasattr(pt, "PLAIN_COLUMNS") and hasattr(pt, "STYLE_PLAIN_COLUMNS"):
    pt.PLAIN_COLUMNS = pt.STYLE_PLAIN_COLUMNS
if not hasattr(pt, "MSWORD_FRIENDLY") and hasattr(pt, "STYLE_MSWORD_FRIENDLY"):
    pt.MSWORD_FRIENDLY = pt.STYLE_MSWORD_FRIENDLY
if not hasattr(pt, "MARKDOWN") and hasattr(pt, "STYLE_MARKDOWN"):
    pt.MARKDOWN = pt.STYLE_MARKDOWN

C:\Users\mreth\AppData\Local\Temp\ipykernel_87276\411305125.py:4: DeprecationWarning: the 'DEFAULT' constant is deprecated, use the 'TableStyle' enum instead
  if not hasattr(pt, "DEFAULT") and hasattr(pt, "STYLE_DEFAULT"):
C:\Users\mreth\AppData\Local\Temp\ipykernel_87276\411305125.py:6: DeprecationWarning: the 'PLAIN_COLUMNS' constant is deprecated, use the 'TableStyle' enum instead
  if not hasattr(pt, "PLAIN_COLUMNS") and hasattr(pt, "STYLE_PLAIN_COLUMNS"):
C:\Users\mreth\AppData\Local\Temp\ipykernel_87276\411305125.py:8: DeprecationWarning: the 'MSWORD_FRIENDLY' constant is deprecated, use the 'TableStyle' enum instead
  if not hasattr(pt, "MSWORD_FRIENDLY") and hasattr(pt, "STYLE_MSWORD_FRIENDLY"):
C:\Users\mreth\AppData\Local\Temp\ipykernel_87276\411305125.py:10: DeprecationWarning: the 'MARKDOWN' constant is deprecated, use the 'TableStyle' enum instead
  if not hasattr(pt, "MARKDOWN") and hasattr(pt, "STYLE_MARKDOWN"):

In [6]:
%sql SELECT @@SERVERNAME AS ServerName, @@VERSION AS VersionInfo;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('csci331-server', 'Microsoft SQL Server 2019 (RTM-CU32-GDR) (KB5063757) - 15.0.4440.1 (X64) \n\tJul 14 2025 12:59:40 \n\tCopyright (C) 2019 Microsoft Corporation\n\tDeveloper Edition (64-bit) on Linux (Ubuntu 20.04.6 LTS) <X64>')]

# My 7 SQL Mysteries:


---
# Mystery #1 -- The Collusion Case

An internal accountant uncovered that an employee of a company has made a collusion with a supplier. Your job is to find the amount of net sales between them. He says look into the top sales person and follow the breadcrumbs......

## Investigation Flow

Follow the money trail through 5 steps:
1. Identify who's moving the most product
2. Find their single highest-value transaction
3. Examine that transaction's details
4. Track down the supplier
5. Check for the amount of net sales between them


### Q1) Who’s the **top salesperson** (by net invoice line value)?
Run and copy the `SalespersonPersonID` (the variable is also captured automatically).

In [43]:
%%sql
USE WideWorldImporters;

WITH SalesCounts AS ( 
    SELECT
        SalespersonPersonID,
        COUNT(OrderID) AS OrderCount
    FROM Sales.Orders
    GROUP BY SalespersonPersonID
),
TopSalespersons AS (
    SELECT SalespersonPersonID
    FROM SalesCounts
    WHERE OrderCount = (
        SELECT MAX(OrderCount) FROM SalesCounts
    )
)
SELECT TOP (1)
    o.OrderID,
    o.OrderDate,
    o.CustomerID,
    c.CustomerName,
    p.FullName AS Salesperson,
    o.SalespersonPersonID
FROM Sales.Orders AS o
JOIN Sales.Customers AS c ON c.CustomerID = o.CustomerID
JOIN Application.People AS p ON p.PersonID = o.SalespersonPersonID
WHERE o.SalespersonPersonID IN (SELECT SalespersonPersonID FROM TopSalespersons)
ORDER BY o.OrderDate DESC, o.OrderID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(73506, datetime.date(2016, 5, 31), 596, 'Wingtip Toys (Cos Cob, CT)', 'Archer Lamble', 16)]


### Q2) For that salesperson, what’s their **single biggest invoice** in that window?

In [44]:
%%sql
USE WideWorldImporters;

-- DECLARE @SalespersonID  = 16; 

SELECT TOP (1)
  i.InvoiceID,
  i.CustomerID,
  c.CustomerName,
  SUM(CAST(il.Quantity * il.UnitPrice AS money)) AS InvoiceValue,
  i.InvoiceDate
FROM Sales.Invoices i
JOIN Sales.InvoiceLines il ON il.InvoiceID = i.InvoiceID
JOIN Sales.Customers c ON c.CustomerID = i.CustomerID
WHERE i.SalespersonPersonID = 16 -- @SalespersonID
  AND i.InvoiceDate >= DATEADD(day, -90, CONVERT(date, '2015-01-01')) -- Adjust date as needed (Here, using 2015-01-01 as reference)
GROUP BY i.InvoiceID, i.CustomerID, c.CustomerName, i.InvoiceDate
ORDER BY InvoiceValue DESC, i.InvoiceID DESC;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(64220, 71, 'Tailspin Toys (Good Hart, MI)', Decimal('29536.0000'), datetime.date(2016, 2, 20))]


### Q3) Show the **order details** (invoice lines) for that invoice — ranked by line value

In [9]:
%%sql
USE WideWorldImporters;

-- DECLARE @InvoiceID int = 64220;

SELECT
  il.InvoiceLineID,
  il.StockItemID,
  si.StockItemName,
  il.Quantity,
  il.UnitPrice,
  CAST(il.Quantity * il.UnitPrice AS money) AS LineValue
FROM Sales.InvoiceLines il
JOIN Warehouse.StockItems si ON si.StockItemID = il.StockItemID
WHERE il.InvoiceID = 64220
ORDER BY LineValue DESC, il.InvoiceLineID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(208044, 215, 'Air cushion machine (Blue)', 8, Decimal('1899.00'), Decimal('15192.0000')),
 (208045, 164, '32 mm Double sided bubble wrap 50m', 100, Decimal('112.00'), Decimal('11200.0000')),
 (208046, 143, 'Halloween zombie mask (Light Brown) M', 84, Decimal('18.00'), Decimal('1512.0000')),
 (208047, 200, 'Black and yellow heavy despatch tape 48mmx100m', 240, Decimal('4.10'), Decimal('984.0000')),
 (208048, 89, '"The Gu" red shirt XML tag t-shirt (Black) 3XS', 36, Decimal('18.00'), Decimal('648.0000'))]


### Q4) Who **supplies** that top line item?

In [45]:
%%sql
USE WideWorldImporters;

-- DECLARE @StockItemID int = 215;

SELECT si.StockItemID, si.StockItemName,
       s.SupplierID, s.SupplierName
FROM Warehouse.StockItems si
JOIN Purchasing.Suppliers s ON s.SupplierID = si.SupplierID
WHERE si.StockItemID = 215;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(215, 'Air cushion machine (Blue)', 7, 'Litware, Inc.')]


### Q5) Is this supplier a **regular partner** for the same top salesperson (last 12 months)?
If `salesperson_id` / `supplier_id` are `None`, set them manually.

In [46]:
%%sql
USE WideWorldImporters;

--Query 5 Bank Account Number of the supplier

--DECLARE @SalespersonID int = 16;
--DECLARE @SupplierID    int = 7;

SELECT
  16 AS SalespersonPersonID,
  7    AS SupplierID,
  COUNT(DISTINCT i.InvoiceID) AS InvoicesTogether,
  CAST(SUM(il.Quantity * il.UnitPrice) AS money) AS NetSalesTogether
FROM Sales.Invoices i
JOIN Sales.InvoiceLines il ON il.InvoiceID = i.InvoiceID
JOIN Warehouse.StockItems si ON si.StockItemID = il.StockItemID
WHERE i.SalespersonPersonID = 16 -- @SalespersonID
  AND si.SupplierID        = 7 -- @SupplierID

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(16, 7, 4759, Decimal('10551097.0500'))]


# Mystery#2 -- The Stolen Shipment

Case: A duo of criminals arranged a shipment where supplies are stolen. Investigators say the shipment is gone to US and found on the very latest invoice. Find the 2 criminals and put them to justice...

**Flow:**  
1) Find the most recent **invoice shipped to US**.  
2) From that invoice, find the **top invoice line** by value.  
3) Get the **supplier** for that top item.  
4) Determine the **most-used delivery method** moving items from that supplier to US (last 180 days).  
5) Find the **top 2 US customers** for **that item**, from **that supplier**, via **that delivery method** (last 12 months).


### Q1) Most recent **invoice shipped to US**
Run and copy the `InvoiceID` (also captured automatically).

In [47]:
%%sql
USE WideWorldImporters;

SELECT TOP (1)
  i.InvoiceID, i.CustomerID, i.InvoiceDate
FROM Sales.Invoices i
JOIN Sales.Customers c              ON c.CustomerID = i.CustomerID
JOIN Application.Cities city        ON city.CityID = c.DeliveryCityID
JOIN Application.StateProvinces sp  ON sp.StateProvinceID = city.StateProvinceID
JOIN Application.Countries co       ON co.CountryID = sp.CountryID
WHERE co.CountryName = N'United States'
ORDER BY i.InvoiceDate DESC, i.InvoiceID DESC;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(70510, 404, datetime.date(2016, 5, 31))]


### Q2) Top invoice line (by value) for that invoice
Replace with the InvoiceID from previous query

In [13]:
%%sql
USE WideWorldImporters;

--DECLARE @InvoiceID int = 70510;

SELECT TOP (1)
  il.InvoiceLineID,
  il.StockItemID,
  si.StockItemName,
  il.Quantity,
  il.UnitPrice,
  CAST(il.Quantity * il.UnitPrice AS money) AS LineValue
FROM Sales.InvoiceLines il
JOIN Warehouse.StockItems si ON si.StockItemID = il.StockItemID
WHERE il.InvoiceID = 70510 -- Replace with the InvoiceID from previous query
ORDER BY LineValue DESC, il.InvoiceLineID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(228264, 170, '20 mm Anti static bubble wrap (Blue) 50m', 40, Decimal('102.00'), Decimal('4080.0000'))]

### Q3) Supplier for that top StockItem
Replace with the `StockItemID` from previous query

In [48]:
%%sql
USE WideWorldImporters;

--DECLARE @StockItemID int = 170;

SELECT s.SupplierID, s.SupplierName
FROM Warehouse.StockItems si
JOIN Purchasing.Suppliers s ON s.SupplierID = si.SupplierID
WHERE si.StockItemID = 170; -- Replace with the StockItemID from previous query

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(7, 'Litware, Inc.')]


### Q4) In the last 180 days, which **delivery method** most often moved items from this supplier **to the US**?
Copy `SupplierID` from last query.

In [50]:
%%sql

USE WideWorldImporters;

-- DECLARE @SupplierID int = 7;
SELECT TOP (1)
  dm.DeliveryMethodName,
  COUNT(DISTINCT i.InvoiceID) AS Invoices
FROM Sales.Invoices i
JOIN Sales.InvoiceLines il      ON il.InvoiceID = i.InvoiceID
JOIN Warehouse.StockItems si    ON si.StockItemID = il.StockItemID
JOIN Purchasing.Suppliers s     ON s.SupplierID = si.SupplierID
JOIN Sales.Customers c          ON c.CustomerID = i.CustomerID
JOIN Application.Cities city    ON city.CityID = c.DeliveryCityID
JOIN Application.StateProvinces sp ON sp.StateProvinceID = city.StateProvinceID
JOIN Application.Countries co   ON co.CountryID = sp.CountryID
LEFT JOIN Application.DeliveryMethods dm ON dm.DeliveryMethodID = i.DeliveryMethodID
WHERE co.CountryName Like '%United States%'
  AND s.SupplierID   = 7 -- @SupplierID
  AND i.InvoiceDate  >= DATEADD(day, -180, CONVERT(date, '2015-01-01')) -- Adjust date as needed (Here, using 2015-01-01 as reference)
GROUP BY dm.DeliveryMethodName
ORDER BY Invoices DESC, dm.DeliveryMethodName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[('Delivery Van', 27246)]


### Q5) Top 2 **US customers** for **that item**, from **that supplier**, via **that delivery method** (last 12 months)
If any variables are `None`, set them manually.

In [52]:
%%sql

USE WideWorldImporters;

--DECLARE @StockItemID         int           =170;
--DECLARE @SupplierID          int           = 7;
--DECLARE @DeliveryMethodName  nvarchar(100) = 'Delivery Van';

SELECT TOP (2)
  c.CustomerID,
  c.CustomerName,
  COUNT(DISTINCT i.InvoiceID)                    AS Invoices,
  CAST(SUM(il.Quantity * il.UnitPrice) AS money) AS Spend
FROM Sales.Invoices i
JOIN Sales.InvoiceLines il        ON il.InvoiceID = i.InvoiceID
JOIN Sales.Customers c            ON c.CustomerID = i.CustomerID
JOIN Application.Cities city      ON city.CityID = c.DeliveryCityID
JOIN Application.StateProvinces sp ON sp.StateProvinceID = city.StateProvinceID
JOIN Application.Countries co     ON co.CountryID = sp.CountryID
JOIN Warehouse.StockItems si      ON si.StockItemID = il.StockItemID
JOIN Purchasing.Suppliers s       ON s.SupplierID = si.SupplierID
JOIN Application.DeliveryMethods dm ON dm.DeliveryMethodID = i.DeliveryMethodID
WHERE co.CountryName        LIKE '%United States'
  AND il.StockItemID        = 170 -- @StockItemID 
  AND s.SupplierID          = 7  -- @SupplierID 
  AND dm.DeliveryMethodName = 'Delivery Van' -- @DeliveryMethodName
  AND i.InvoiceDate         >= DATEADD(year, -1, CONVERT(date, '2015-01-01'))
GROUP BY c.CustomerID, c.CustomerName
ORDER BY Spend DESC, c.CustomerName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(861, 'Amarasimha Vinjamuri', 5, Decimal('43860.0000')),
 (945, 'Hoc Tran', 5, Decimal('36720.0000'))]


# Mystery#3 -- The Vanishing Crates (Reverse Trail)

Case: There is a stock that got stolen that is being shipped. It is a top stock from our top supplier.
Find out the destination (city, state and country) where it is headed to.....

**Flow:**  
1) Top **supplier** (last 90 days)  
2) Supplier’s top **stock item** (last 90 days)  
3) Most-used **delivery method** for that supplier+item (last 180 days)  
4) **Latest invoice** for that supplier+item+method  
5) **Destination reveal** for that invoice

### Q1) Top **supplier** in the last 90 days (by net invoice line value)

In [53]:
%%sql
USE WideWorldImporters;

WITH recent_supplier_sales AS (
  SELECT si.SupplierID,
         SUM(CAST(il.Quantity * il.UnitPrice AS money)) AS NetSales
  FROM Sales.InvoiceLines il
  JOIN Sales.Invoices i   ON i.InvoiceID = il.InvoiceID
  JOIN Warehouse.StockItems si ON si.StockItemID = il.StockItemID
  WHERE i.InvoiceDate >= DATEADD(day, -90, CONVERT(date, '2015-01-01')) -- Adjust date as needed (Here, using 2015-01-01 as reference)
  GROUP BY si.SupplierID
)
SELECT TOP (1) s.SupplierID, s.SupplierName, rss.NetSales
FROM recent_supplier_sales rss
JOIN Purchasing.Suppliers s ON s.SupplierID = rss.SupplierID
ORDER BY rss.NetSales DESC, s.SupplierID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(7, 'Litware, Inc.', Decimal('52012687.9500'))]

### Q2) Supplier’s **top stock item** in the last 90 days

In [54]:
%%sql
USE WideWorldImporters;

--DECLARE @supplier_id int = 7;

SELECT TOP (1)
  si.StockItemID, si.StockItemName,
  SUM(CAST(il.Quantity * il.UnitPrice AS money)) AS ItemNetSales
FROM Sales.InvoiceLines il
JOIN Sales.Invoices i   ON i.InvoiceID = il.InvoiceID
JOIN Warehouse.StockItems si ON si.StockItemID = il.StockItemID
WHERE si.SupplierID = 7 -- @supplier_id
  AND i.InvoiceDate >= DATEADD(day, -90, CONVERT(date, '2015-01-01')) -- Adjust date as needed (Here, using 2015-01-01 as reference)
GROUP BY si.StockItemID, si.StockItemName
ORDER BY ItemNetSales DESC, si.StockItemID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(215, 'Air cushion machine (Blue)', Decimal('5681808.0000'))]

### Q3) Most-used **delivery method** for this supplier+item (last 180 days)

In [56]:
%%sql
USE WideWorldImporters;

--DECLARE @supplier_id int = 7;
--DECLARE @stock_item_id int = 170;


SELECT TOP (1)
  dm.DeliveryMethodName,
  COUNT(DISTINCT i.InvoiceID) AS Invoices
FROM Sales.Invoices i
JOIN Sales.InvoiceLines il        ON il.InvoiceID = i.InvoiceID
JOIN Warehouse.StockItems si      ON si.StockItemID = il.StockItemID
LEFT JOIN Application.DeliveryMethods dm ON dm.DeliveryMethodID = i.DeliveryMethodID
WHERE si.SupplierID = 7 -- @supplier_id
  AND il.StockItemID = 170 -- @stock_item_id
  AND i.InvoiceDate >= DATEADD(day, -180, CONVERT(date, '2015-01-01')) -- Adjust date as needed (Here, using 2015-01-01 as reference)
GROUP BY dm.DeliveryMethodName
ORDER BY Invoices DESC, dm.DeliveryMethodName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[('Delivery Van', 635)]

### Q4) **Latest invoice** for this supplier+item+delivery method

In [57]:
%%sql
USE WideWorldImporters;

--DECLARE @supplier_id int = 7;
--DECLARE @stock_item_id int = 170;
--DECLARE @delivery_method_name nvarchar(100) = 'Delivery Van';

SELECT TOP (1)
  i.InvoiceID, i.CustomerID, i.InvoiceDate
FROM Sales.Invoices i
JOIN Sales.InvoiceLines il   ON il.InvoiceID = i.InvoiceID
JOIN Warehouse.StockItems si ON si.StockItemID = il.StockItemID
LEFT JOIN Application.DeliveryMethods dm ON dm.DeliveryMethodID = i.DeliveryMethodID
WHERE si.SupplierID          = 7 -- @supplier_id
  AND il.StockItemID         = 170 -- @stock_item_id
  AND dm.DeliveryMethodName  = 'Delivery Van' -- @delivery_method_name
ORDER BY i.InvoiceDate DESC, i.InvoiceID DESC;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(70510, 404, datetime.date(2016, 5, 31))]

### Q5) **Destination reveal** for that invoice (City / State / Country)

In [58]:
%%sql
USE WideWorldImporters;

--DECLARE @invoice_id int = 70510;


SELECT i.InvoiceID, c.CustomerName,
       city.CityName, sp.StateProvinceName, co.CountryName
FROM Sales.Invoices i
JOIN Sales.Customers c              ON c.CustomerID = i.CustomerID
JOIN Application.Cities city        ON city.CityID = c.DeliveryCityID
JOIN Application.StateProvinces sp  ON sp.StateProvinceID = city.StateProvinceID
JOIN Application.Countries co       ON co.CountryID = sp.CountryID
WHERE i.InvoiceID = 70510; -- @invoice_id

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(70510, 'Wingtip Toys (Penns Creek, PA)', 'Penns Creek', 'Pennsylvania', 'United States')]

---
# Mystery#4 -- The Texas Scheme


Case: One of the only 2 customers of ours from a city in Texas is in cahoots with a salesperson to get a stock at unfairly discounted prices. Their customer id starts with '1xx'. Find out the worth of the stock they have purchased so far...

**5 steps:**  
1) find a duplicate delivery address, 
2) list customers at that address,  
3) identify the top salesperson serving that address (last 180d),
4) pull their biggest invoice for that address (last 180d),
5) show the top lines on that invoice.

### Q1) Find a **delivery address** in 'TEXAS' (AddressLine1, CityID, PostalCode) used by **more than 1 customer**

In [59]:
%%sql
USE WideWorldImporters;

SELECT city.CityName, sp.StateProvinceName, ctry.CountryName,
       COUNT(DISTINCT i.CustomerID) AS DistinctCustomers
FROM Sales.Invoices i
JOIN Sales.Customers cust ON cust.CustomerID = i.CustomerID
JOIN Application.Cities city ON city.CityID = cust.DeliveryCityID
JOIN Application.StateProvinces sp ON sp.StateProvinceID = city.StateProvinceID
JOIN Application.Countries ctry ON ctry.CountryID = sp.CountryID
WHERE sp.StateProvinceName = 'Texas'
GROUP BY city.CityName, sp.StateProvinceName, ctry.CountryName
HAVING COUNT(DISTINCT i.CustomerID) = 2
ORDER BY DistinctCustomers DESC, city.CityName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[('Rockwall', 'Texas', 'United States', 2)]

### Q2) Who are the **customers** at that same address whos customer id starts with '1'?

In [60]:
%%sql
USE WideWorldImporters;

--DECLARE @City  nvarchar(50) = 'Rockwall';
--DECLARE @State nvarchar(50) =  'Texas';
--DECLARE @Country nvarchar(60) = 'United States';

SELECT c.CustomerID, c.CustomerName, c.DeliveryAddressLine1, c.DeliveryAddressLine2, c.DeliveryCityID
FROM Sales.Customers c
JOIN Application.Cities city ON city.CityID = c.DeliveryCityID
JOIN Application.StateProvinces sp ON sp.StateProvinceID = city.StateProvinceID
WHERE city.CityName        = 'Rockwall'
  AND sp.StateProvinceName = 'Texas'
ORDER BY c.CustomerName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(167, 'Tailspin Toys (Rockwall, TX)', 'Unit 211', '1492 Lanctot Crescent', 29320),
 (408, 'Wingtip Toys (Rockwall, TX)', 'Shop 141', '1414 Correa Road', 29320)]

### Q3) In the last **180 days**, which **salesperson** handled the most **invoices** for those customers at that address?

In [62]:
%%sql
USE WideWorldImporters;

--DECLARE @Addr1  nvarchar(100) = N'Unit 211';
--DECLARE @CityID int           =  29320;
--DECLARE @Postal nvarchar(10)  = N'90294';

SELECT TOP (1)
  i.SalespersonPersonID,
  p.FullName,
  COUNT(*) AS InvoicesHandled
FROM Sales.Invoices i
JOIN Sales.Customers c  ON c.CustomerID = i.CustomerID
JOIN Application.People p    ON p.PersonID   = i.SalespersonPersonID
WHERE c.DeliveryAddressLine1 = N'Unit 211'    -- @Addr1
  AND c.DeliveryCityID       = 29320           --@CityID
  AND c.DeliveryPostalCode   = N'90294' --@Postal
  AND i.InvoiceDate          >= DATEADD(day, -180, CONVERT(date, '2015-01-01')) -- Adjust date as needed (Here, using 2015-01-01 as reference)
GROUP BY i.SalespersonPersonID, p.FullName
ORDER BY InvoicesHandled DESC, i.SalespersonPersonID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(20, 'Jack Potter', 10)]

### Q4) For that **salesperson** and **address**, the **single biggest invoice** (by line-value sum) in the last 180 days

In [63]:
%%sql
USE WideWorldImporters;


--DECLARE @Addr1  nvarchar(100) = N'Unit 211';
--DECLARE @CityID int           =  29320;
--DECLARE @Postal nvarchar(10)  = N'90294';
--DECLARE @SalespersonID int    =  20;

SELECT TOP (1)
  i.InvoiceID,
  i.InvoiceDate,
  CAST(SUM(il.Quantity * il.UnitPrice) AS money) AS InvoiceValue
FROM Sales.Invoices i
JOIN Sales.InvoiceLines il ON il.InvoiceID = i.InvoiceID
JOIN Sales.Customers c     ON c.CustomerID = i.CustomerID
WHERE i.SalespersonPersonID = 20 -- @SalespersonID
  AND c.DeliveryAddressLine1 = N'Unit 211'    -- @Addr1
  AND c.DeliveryCityID       = 29320           -- @CityID
  AND c.DeliveryPostalCode   = N'90294' -- @Postal
  AND i.InvoiceDate          >= DATEADD(day, -180, CONVERT(date, '2015-01-01'))
GROUP BY i.InvoiceID, i.InvoiceDate
ORDER BY InvoiceValue DESC, i.InvoiceID DESC;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(64086, datetime.date(2016, 2, 18), Decimal('10414.0000'))]

### Q5) Show the **top line** on that **invoice** (ranked by value)

`LineValue` is the value of the stock that they have 'stolen'!

In [65]:
%%sql
USE WideWorldImporters;

--DECLARE @InvoiceID int = 64086;

SELECT TOP (1)
  il.InvoiceLineID,
  il.StockItemID,
  si.StockItemName,
  il.Quantity,
  il.UnitPrice,
  CAST(il.Quantity * il.UnitPrice AS money) AS LineValue
FROM Sales.InvoiceLines il
JOIN Warehouse.StockItems si ON si.StockItemID = il.StockItemID
WHERE il.InvoiceID = 64086 -- @InvoiceID
ORDER BY LineValue DESC, il.InvoiceLineID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(207612, 173, '32 mm Anti static bubble wrap (Blue) 50m', 70, Decimal('105.00'), Decimal('7350.0000'))]


# Mystery#5 -- The Outstanding Balance Trail


## Case Brief
Accounting flagged an **unusual rise in unpaid balances** from the **customer who owes the most**. Your mission: Analyze which **delivery method** appears **most exposed** on unpaid invoices for this customer.


## (5 steps)
1. **Top Debtor** → Find the customer with the **largest outstanding balance**.  
2. **Worst Invoice** → Among that customer’s unpaid invoices, find the one with the **most money still owed**.  
3. **Order Details** → Show the **highest-value invoice line** on that invoice.  
4. **Supplier** → Identify the **supplier** of that top line item.  
5. **Exposure by Delivery Method** → For the **same customer & supplier**, summarize **unpaid invoices** by **delivery method** for the **last 12 months**.

---
## Q1) **Top Debtor** (Largest Outstanding Balance)
**Question:** Who is the customer with the **largest outstanding balance** overall?

In [66]:
%%sql
USE WideWorldImporters;

SELECT TOP (1)
  c.CustomerID,
  c.CustomerName,
  SUM(ct.OutstandingBalance) AS OutstandingTotal
FROM Sales.CustomerTransactions ct
JOIN Sales.Customers c ON c.CustomerID = ct.CustomerID
WHERE ct.OutstandingBalance > 0
GROUP BY c.CustomerID, c.CustomerName
ORDER BY OutstandingTotal DESC, c.CustomerID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(401, 'Wingtip Toys (Head Office)', Decimal('97053.58'))]

## Q2) **Worst Unpaid Invoice**
**Question:** For that customer, which invoice has the **highest unpaid amount** (sum of outstanding balances)?

In [67]:
%%sql
USE WideWorldImporters;

--DECLARE @customer_id int = 401;

SELECT TOP (1)
  ISNULL(ct.InvoiceID, i.InvoiceID) AS InvoiceID,
  SUM(ct.OutstandingBalance)        AS UnpaidOnInvoice,
  MAX(i.InvoiceDate)                AS InvoiceDate
FROM Sales.CustomerTransactions ct
LEFT JOIN Sales.Invoices i ON i.InvoiceID = ct.InvoiceID
WHERE ct.CustomerID = 401 -- @customer_id
  AND ct.OutstandingBalance > 0
GROUP BY ISNULL(ct.InvoiceID, i.InvoiceID)
ORDER BY UnpaidOnInvoice DESC, InvoiceID DESC;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(70445, Decimal('28280.80'), datetime.date(2016, 5, 31))]

## Q3) **Order Details** (Top Line on the Unpaid Invoice)
**Question:** On that invoice, what is the **highest-value line item**?

In [68]:
%%sql
USE WideWorldImporters;

--DECLARE @invoice_id int = 64220;

SELECT TOP (1)
  il.InvoiceLineID,
  il.StockItemID,
  si.StockItemName,
  il.Quantity,
  il.UnitPrice,
  CAST(il.Quantity * il.UnitPrice AS money) AS LineValue
FROM Sales.InvoiceLines il
JOIN Warehouse.StockItems si ON si.StockItemID = il.StockItemID
WHERE il.InvoiceID = 64220 -- @invoice_id
ORDER BY LineValue DESC, il.InvoiceLineID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(208044, 215, 'Air cushion machine (Blue)', 8, Decimal('1899.00'), Decimal('15192.0000'))]

## Q4) **Supplier** of the Top Line Item
**Question:** Who supplies that stock item?

In [69]:
%%sql
USE WideWorldImporters;

--DECLARE @stock_item_id int = 215;

SELECT s.SupplierID, s.SupplierName
FROM Warehouse.StockItems si
JOIN Purchasing.Suppliers s ON s.SupplierID = si.SupplierID
WHERE si.StockItemID = 215 -- @stock_item_id

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(7, 'Litware, Inc.')]

## Q5) **Exposure by Delivery Method** (Unpaid Invoices, Last 12 Months)
**Question:** For **this customer** and **this supplier**, over the **last 12 months**, which **delivery method** appears most on invoices with **any unpaid balance**?

In [71]:
%%sql
USE WideWorldImporters;

--DECLARE @customer_id int = 401;
--DECLARE @supplier_id int = 7;

WITH cust_unpaid_invoices AS (
  SELECT DISTINCT ISNULL(ct.InvoiceID, i.InvoiceID) AS InvoiceID
  FROM Sales.CustomerTransactions ct
  LEFT JOIN Sales.Invoices i ON i.InvoiceID = ct.InvoiceID
  WHERE ct.CustomerID = 401 -- @customer_id
    AND ct.OutstandingBalance > 0
    AND (i.InvoiceDate IS NULL OR i.InvoiceDate >= DATEADD(year, -1, CONVERT(date, '2015-01-01')))
),
lines_from_supplier AS (
  SELECT cui.InvoiceID
  FROM cust_unpaid_invoices cui
  JOIN Sales.InvoiceLines il   ON il.InvoiceID = cui.InvoiceID
  JOIN Warehouse.StockItems si ON si.StockItemID = il.StockItemID
  WHERE si.SupplierID = 7 -- @supplier_id
)
SELECT TOP (5)
  dm.DeliveryMethodName,
  COUNT(DISTINCT i.InvoiceID)                         AS UnpaidInvoices,
  CAST(SUM(il.Quantity * il.UnitPrice) AS money)      AS LineValueOnThoseInvoices,
  MIN(i.InvoiceDate)                                  AS OldestInvoiceDate,
  MAX(i.InvoiceDate)                                  AS NewestInvoiceDate
FROM lines_from_supplier lfs
JOIN Sales.Invoices i             ON i.InvoiceID = lfs.InvoiceID
JOIN Sales.InvoiceLines il        ON il.InvoiceID = i.InvoiceID
LEFT JOIN Application.DeliveryMethods dm ON dm.DeliveryMethodID = i.DeliveryMethodID
GROUP BY dm.DeliveryMethodName
ORDER BY UnpaidInvoices DESC, LineValueOnThoseInvoices DESC, dm.DeliveryMethodName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[('Delivery Van', 16, Decimal('130074.3500'), datetime.date(2016, 5, 31), datetime.date(2016, 5, 31))]


# SQL Mystery #6 

## Case Brief
Operations reports that a particular **package type** is showing up in a surprising number of shipments.  
Your mission: You are head of the logistics department. Start from that **package type** and finally test whether the **same delivery method** used on that shipment tends to **slow fulfillment** for this package type.


## (5 steps)
1. **Pick a Package Type** (high usage in last 60 days).  
2. **Top Item** for that package type (by net value, last 60 days).  
3. **Latest Invoice** for that item+package type.  
4. **Shipment Details** (delivery method + destination).  
5. **Performance Check** of that **delivery method** for this **package type** (last 12 months).

---
### Q1) Identify the most frequently used **package types** in the past 60 days

In [32]:
%%sql
USE WideWorldImporters;

SELECT TOP (1)
  pt.PackageTypeID,
  pt.PackageTypeName,
  COUNT(*) AS Lines
FROM Sales.InvoiceLines il
JOIN Sales.Invoices i          ON i.InvoiceID = il.InvoiceID
JOIN Warehouse.PackageTypes pt ON pt.PackageTypeID = il.PackageTypeID
WHERE i.InvoiceDate >= DATEADD(day, -60, CONVERT(date, '2015-01-01'))
GROUP BY pt.PackageTypeID, pt.PackageTypeName
ORDER BY Lines DESC, pt.PackageTypeName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(7, 'Each', 106603)]

### Q2) For that **package type**, find the **top stock item** by total sales value (last 60 days)

In [33]:
%%sql
USE WideWorldImporters;


--DECLARE  @PackageTypeID int = 7

SELECT TOP (1)
  il.StockItemID,
  si.StockItemName,
  CAST(SUM(il.Quantity * il.UnitPrice) AS money) AS NetValue
FROM Sales.InvoiceLines il
JOIN Sales.Invoices i          ON i.InvoiceID = il.InvoiceID
JOIN Warehouse.StockItems si   ON si.StockItemID = il.StockItemID
WHERE il.PackageTypeID = 7 -- @PackageTypeID
  AND i.InvoiceDate >= DATEADD(day, -60, CONVERT(date, '2015-01-01'))
GROUP BY il.StockItemID, si.StockItemName
ORDER BY NetValue DESC, il.StockItemID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

Done.

[(215, 'Air cushion machine (Blue)', Decimal('5364675.0000'))]

### Q3) Find the **latest invoice** that used **that item** in **that package type**

In [34]:
%%sql
USE WideWorldImporters;

--DECLARE @PackageTypeID int = 7;
--DECLARE @StockItemID   int = 215;

SELECT TOP (1)
  i.InvoiceID,
  i.CustomerID,
  i.InvoiceDate
FROM Sales.InvoiceLines il
JOIN Sales.Invoices i ON i.InvoiceID = il.InvoiceID
WHERE il.PackageTypeID = 7 -- @PackageTypeID
  AND il.StockItemID   = 215 -- @StockItemID
ORDER BY i.InvoiceDate DESC, i.InvoiceID DESC;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(70509, 151, datetime.date(2016, 5, 31))]

### Q4) Shipment details for that invoice (delivery + destination)

In [35]:
%%sql
USE WideWorldImporters;

--DECLARE @InvoiceID int = 70509;

SELECT
  i.InvoiceID,
  dm.DeliveryMethodName,
  c.CustomerName,
  city.CityName,
  sp.StateProvinceName,
  ctry.CountryName
FROM Sales.Invoices i
LEFT JOIN Application.DeliveryMethods dm ON dm.DeliveryMethodID = i.DeliveryMethodID
JOIN Sales.Customers c                   ON c.CustomerID = i.CustomerID
JOIN Application.Cities city            ON city.CityID = c.DeliveryCityID
JOIN Application.StateProvinces sp      ON sp.StateProvinceID = city.StateProvinceID
JOIN Application.Countries ctry         ON ctry.CountryID = sp.CountryID
WHERE i.InvoiceID = 70509 -- @InvoiceID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(70509, 'Delivery Van', 'Tailspin Toys (Antares, AZ)', 'Antares', 'Arizona', 'United States')]

### Q5) Performance Check — Does this **delivery method** slow fulfillment for this **package type**?

In [36]:
%%sql
USE WideWorldImporters;

--DECLARE @PackageTypeID       int           = 7;
--DECLARE @DeliveryMethodName  nvarchar(100) ='Delivery Van';

SELECT
  dm.DeliveryMethodName,
  AVG(DATEDIFF(day, o.OrderDate, i.InvoiceDate)*1.0) AS AvgDaysFromOrder,
  COUNT(DISTINCT i.InvoiceID)                         AS Invoices
FROM Sales.InvoiceLines il
JOIN Sales.Invoices i              ON i.InvoiceID = il.InvoiceID
JOIN Sales.Orders o                ON o.OrderID   = i.OrderID
LEFT JOIN Application.DeliveryMethods dm ON dm.DeliveryMethodID = i.DeliveryMethodID
WHERE il.PackageTypeID = 7 -- @PackageTypeID
  AND dm.DeliveryMethodName = 'Delivery Van' -- @DeliveryMethodName
  AND i.InvoiceDate >= DATEADD(year, -1, CONVERT(date, '2015-01-01'))
GROUP BY dm.DeliveryMethodName
ORDER BY AvgDaysFromOrder DESC, Invoices DESC, dm.DeliveryMethodName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

Done.

[('Delivery Van', Decimal('1.751858'), 51660)]


# Mystery #7 

## Case Brief
Warehouse has flagged items with **dangerously low QuantityOnHand**. Your mission is to start from the **lowest-stock item**, trace where the stock is flowing, and assess whether a particular **delivery path** is contributing to longer fulfillment times.


## (5 steps)
1. **Lowest-Stock Item** from `Warehouse.StockItemHoldings`.  
2. **Latest Shipment** for that item (Invoice + Customer + Delivery Method).  
3. **Customer’s Biggest Hit** on that item (last 90 days).  
4. **Supplier** of that item (based on the big invoice).  
5. **Timing Analysis** for **Customer + Supplier + Item + Delivery Method** (last 12 months).

### Q1) Pick the **lowest-stock** item

In [37]:
%%sql
USE WideWorldImporters;

SELECT TOP (5)
  si.StockItemID,
  si.StockItemName,
  sh.QuantityOnHand,
  sh.BinLocation,
  s.SupplierName
FROM Warehouse.StockItemHoldings sh
JOIN Warehouse.StockItems si ON si.StockItemID = sh.StockItemID
JOIN Purchasing.Suppliers s  ON s.SupplierID = si.SupplierID
ORDER BY sh.QuantityOnHand ASC, si.StockItemName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(86, '"The Gu" red shirt XML tag t-shirt (White) 5XL', 3, 'K-1', 'Fabrikam, Inc.'),
 (78, '"The Gu" red shirt XML tag t-shirt (White) XS', 16, 'K-1', 'Fabrikam, Inc.'),
 (80, '"The Gu" red shirt XML tag t-shirt (White) M', 20, 'K-1', 'Fabrikam, Inc.'),
 (204, 'Tape dispenser (Red)', 24, 'D-4', 'Litware, Inc.'),
 (98, '"The Gu" red shirt XML tag t-shirt (Black) 4XL', 25, 'K-2', 'Fabrikam, Inc.')]

### Q2) For that **item**, find the **latest invoice** (shipment out)

In [38]:
%%sql
USE WideWorldImporters;

--DECLARE @StockItemID int =86;

SELECT TOP (1)
  i.InvoiceID,
  i.CustomerID,
  i.DeliveryMethodID,
  i.InvoiceDate
FROM Sales.InvoiceLines il
JOIN Sales.Invoices i ON i.InvoiceID = il.InvoiceID
WHERE il.StockItemID = 86 -- @StockItemID
ORDER BY i.InvoiceDate DESC, i.InvoiceID DESC;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(70509, 151, 3, datetime.date(2016, 5, 31))]

### Q3) Using that **same customer** and **same item**, find their **biggest hit** in the last 90 days

In [39]:
%%sql
USE WideWorldImporters;

--DECLARE @StockItemID       int = 86;
--DECLARE @CustomerID        int = 151;

SELECT TOP (1)
  i.InvoiceID AS BigInvoiceID,
  SUM(il.Quantity) AS TotalQty,
  CAST(SUM(il.Quantity * il.UnitPrice) AS money) AS LineValue,
  MAX(i.InvoiceDate) AS InvoiceDate
FROM Sales.InvoiceLines il
JOIN Sales.Invoices i ON i.InvoiceID = il.InvoiceID
WHERE il.StockItemID = 86 -- @StockItemID
  AND i.CustomerID   = 151 -- @CustomerID
  AND i.InvoiceDate  >= DATEADD(day, -90, CONVERT(date, '2015-01-01'))
GROUP BY i.InvoiceID
ORDER BY TotalQty DESC, LineValue DESC, BigInvoiceID DESC;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(70509, 24, Decimal('432.0000'), datetime.date(2016, 5, 31))]

### Q4) For that **biggest invoice**, confirm the **supplier** of the item

In [40]:
%%sql
USE WideWorldImporters;

--DECLARE @BigInvoiceID int = 70509;
--DECLARE @StockItemID  int = 86;

SELECT DISTINCT
  s.SupplierID,
  s.SupplierName
FROM Sales.InvoiceLines il
JOIN Warehouse.StockItems si   ON si.StockItemID = il.StockItemID
JOIN Purchasing.Suppliers s    ON s.SupplierID   = si.SupplierID
JOIN Sales.Invoices i         ON i.InvoiceID    = il.InvoiceID
WHERE il.InvoiceID = 70509 -- @BigInvoiceID;
AND si.StockItemID = 86; -- @StockItemID

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(4, 'Fabrikam, Inc.')]

### Q5) Timing analysis — **Customer + Supplier + Item + Delivery Method** (last 12 months)

In [41]:
%%sql
USE WideWorldImporters;

--DECLARE @CustomerID        int = 151;
--DECLARE @SupplierID        int = 4;
--DECLARE @StockItemID       int = 86;
--DECLARE @DeliveryMethodID  int = 3; --from query 1

SELECT
  dm.DeliveryMethodName,
  AVG(DATEDIFF(day, o.OrderDate, i.InvoiceDate)*1.0)  AS AvgDays_OrderToInvoice,
  COUNT(DISTINCT i.InvoiceID)                         AS Invoices,
  MIN(i.InvoiceDate)                                  AS OldestInvoiceDate,
  MAX(i.InvoiceDate)                                  AS NewestInvoiceDate
FROM Sales.Invoices i
JOIN Sales.Orders o                 ON o.OrderID = i.OrderID
JOIN Application.DeliveryMethods dm ON dm.DeliveryMethodID = i.DeliveryMethodID
JOIN Sales.InvoiceLines il          ON il.InvoiceID = i.InvoiceID
JOIN Warehouse.StockItems si        ON si.StockItemID = il.StockItemID
WHERE i.CustomerID        = 151   --@CustomerID
  AND si.SupplierID  = 4 --@SupplierID
  AND il.StockItemID      = 86  --@StockItemID
  AND i.DeliveryMethodID  = 3 --@DeliveryMethodID
  AND i.InvoiceDate       >= DATEADD(year, -1, CONVERT(date, '2015-01-01'))
GROUP BY dm.DeliveryMethodName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[('Delivery Van', Decimal('1.500000'), 2, datetime.date(2014, 9, 29), datetime.date(2016, 5, 31))]